<!-- the snippet below assumes that JS SDK script has already loaded -->
<!-- <script type="text/javascript" src="/pathToAIJSSDK.js"></script> -->
<script type="text/javascript">   
    var snippet = {   
        config: {   
            instrumentationKey: '@ViewData["NavbarInstrumentationKey"]'
        }   
    };   
    var init = new Microsoft.ApplicationInsights.Initialization(snippet);   
    var appInsights = init.loadAppInsights();

    $(".navbar a").click(function(e) {
        var pageName = $(this).text();
        var pageUrl = $(this).prop("href");
        var props = { PageName: pageName, PageUrl: pageUrl};
        console.log(props);
        appInsights.trackEvent("NavbarClicked", props);
        appInsights.flush();
    });
</script>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">aitest</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>